<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Token Login Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Login to Discord</h1>
    <form method="POST" action="/login">
        <label for="token">Discord Token:</label>
        <input type="text" id="token" name="token" required>
        <button type="submit">Login</button>
    </form>
    <form method="POST" action="/switch_token">
        <label for="new_token">Switch Token:</label>
        <input type="text" id="new_token" name="new_token" required>
        <button type="submit">Switch Token</button>
    </form>
    <button class="credits-button" onclick="window.open('https://glitched-da-kitty-cat.is-a.dev/', '_blank')">Credits: Glitched Da Kitty Cat - Maker</button>
    <button class="discord-button" onclick="window.open('https://discord.gg/f87DTxdHTA', '_blank')">My Discord</button>
</div>
</body>
</html>