<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Token Login Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notifications.css') }}">
</head>
<body>
<div class="container">
    <h1>Login to Discord</h1>
    <form method="POST" id="loginForm">
        <label for="token">Discord Token:</label>
        <input type="text" id="token" name="token" required>
        <button type="submit">Login</button>
    </form>
    <form id="switchForm">
        <label for="new_token">Switch Token:</label>
        <input type="text" id="new_token" name="new_token" required>
        <button type="submit">Switch Token</button>
    </form>
    <button class="credits-button" onclick="window.open('https://glitched-da-kitty-cat.is-a.dev/', '_blank')">Credits: Glitched Da Kitty Cat - Maker</button>
    <button class="discord-button" onclick="window.open('https://discord.gg/f87DTxdHTA', '_blank')">My Discord</button>
</div>
<div class="token_list">
    <h1>Save Token Information</h1>
    <form method="POST" id="saveShit">
        <label for="token">Discord Token:</label>
        <input type="text" id="save_token" name="save_token" required>
        <label for="name">Discord Token Name:</label>
        <input type="text" id="Name" name="Name" required>
        <button type="submit">Add Token</button>
    </form>
    <h1>Your Saved Tokens</h1>
    <table class="token_list_table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Token</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="List"></tbody>
      </table>
</div>
<div id="notification-container" class="notification-container"></div>
<script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/saving_token.js') }}"></script>
</body>
</html>